/* Анимация для показа/скрытия жанров */
.genres-list {
    max-height: 0; /* Начальная высота равна 0 */
    overflow: hidden; /* Скрываем содержимое за пределами блока */
    transition: max-height 0.2s ease-in-out; /* Плавное изменение высоты */
}

.genres-list.open {
    max-height: 1700px; /* Максимальная высота, чтобы показать все жанры */
}

.genres-list.closed {
    max-height: 0; /* Сворачиваем список до нулевой высоты */
}